*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    /* margin: 0 auto; */
   
}


.dark-mode {
  background-color: #1a1919;
  color: #e0e0e0;
  height: 100%;
  transition: background-color 0.25s ease-in-out;
  position: relative;
}

.light-mode {
  background-color: #fff;
  color: #333;
  height: 100%;
  transition: background-color 0.25s ease-in-out;
  position: relative;
}

.toggler{
  position: absolute;
  top: 20px;
}

/* ! Loader */
.blackBg{
    background-color: rgba(0, 0, 0, 0.63);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

.loader {
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 10px;
  }
  
  .loader div {
    width: 8%;
    height: 24%;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 30%;
    opacity: 0;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    animation: fade458 1s linear infinite;
  }
  
  @keyframes fade458 {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0.25;
    }
  }
  
  .loader .bar1 {
    transform: rotate(0deg) translate(0, -130%);
    animation-delay: 0s;
  }
  
  .loader .bar2 {
    transform: rotate(30deg) translate(0, -130%);
    animation-delay: -1.1s;
  }
  
  .loader .bar3 {
    transform: rotate(60deg) translate(0, -130%);
    animation-delay: -1s;
  }
  
  .loader .bar4 {
    transform: rotate(90deg) translate(0, -130%);
    animation-delay: -0.9s;
  }
  
  .loader .bar5 {
    transform: rotate(120deg) translate(0, -130%);
    animation-delay: -0.8s;
  }
  
  .loader .bar6 {
    transform: rotate(150deg) translate(0, -130%);
    animation-delay: -0.7s;
  }
  
  .loader .bar7 {
    transform: rotate(180deg) translate(0, -130%);
    animation-delay: -0.6s;
  }
  
  .loader .bar8 {
    transform: rotate(210deg) translate(0, -130%);
    animation-delay: -0.5s;
  }
  
  .loader .bar9 {
    transform: rotate(240deg) translate(0, -130%);
    animation-delay: -0.4s;
  }
  
  .loader .bar10 {
    transform: rotate(270deg) translate(0, -130%);
    animation-delay: -0.3s;
  }
  
  .loader .bar11 {
    transform: rotate(300deg) translate(0, -130%);
    animation-delay: -0.2s;
  }
  
  .loader .bar12 {
    transform: rotate(330deg) translate(0, -130%);
    animation-delay: -0.1s;
  }
  



/* ! NavBar */

.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    gap: 2rem;
    padding: 10px ;
    /* background-color: aqua; */
}

.link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.link:hover{
  text-decoration: underline;
  color: #1e90ff;
  transition: all .2s;
  transform: 1;
}

.linkBtn{
    border: none;
    padding: .5rem;
    border-radius: .3rem;
    font-weight: bold;
}
.linkBtn:hover{
  background-color: #1e90ff;
  transition: all .4s;
}
.linkDk{
    text-decoration: none;
    color: rgb(230, 230, 230);
    font-weight: bold;
}
.linkDk:hover{
  text-decoration: underline;
  color: #1e90ff;
  transition: all .2s;
  transform: 1;
}

.linkBtnDk{
    border: none;
    padding: .5rem;
    border-radius: .3rem;
    font-weight: bold;
}
.linkBtnDk:hover{
  background-color: #1e90ff;
  transition: all .4s;
}

/* ! LogIn Settings */
.formPageContainer{
  height: 100vh;
}

    .formContainer{
        background-color: rgba(216, 255, 255, 0.199);
        height: 500px;
        max-width: 350px;
        display: flex;
        gap: .5rem;
        flex-direction: column;
        padding: 2rem;
        justify-content: flex-start;
        align-items: center;
        margin: 5rem auto;
        border-radius: 1rem;
        border: 1px solid rgb(253, 253, 253);
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.39); 
        font-weight: bold;
    }

    .formContainerDk{
        background-color: rgba(216, 255, 255, 0.199);
        height: 500px;
        max-width: 350px;
        display: flex;
        gap: .5rem;
        flex-direction: column;
        padding: 2rem;
        justify-content: flex-start;
        align-items: center;
        margin: 5rem auto;
        border-radius: 1rem;
        /* border: 1px solid #1e90ff; */
        box-shadow: 0px 0px 17px #1e8fff48; 
        font-weight: bold;
    }

    .logInp{
      width: 90%;
      border-radius: .5rem;
      height: 3rem;
      border: 1px solid rgba(0, 0, 0, 0.205);
      transition: all .5s;
    }

    .logInpNum{
      height: 3rem;
      border-radius: .5rem;
      width: 20%;
      border: 1px solid rgba(0, 0, 0, 0.205);
      transition: all .5s;
    }
   
    

    .inpuBtnsCont{
        display: flex;
        gap: 1rem;
        width: 80%;
        justify-content: center;
        margin-top:3rem;
    }

    .logBtnsVis{
        border-radius: .5rem;
        height: 24px;
        margin-top: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.205);
        background-color: rgba(128, 128, 128, 0.055);
    }
    .logBtnsVisDk{
        border-radius: .5rem;
        height: 24px;
        margin-top: 1rem;
        border: 1px solid rgba(194, 67, 67, 0.205);
        background-color: rgba(128, 128, 128, 0.055);
        color: #e0e0e0;
    }

   

    .logBtnsCle{
        border-radius: .5rem;
        height: 24px;
        margin-top: 1rem;
        border: 1px solid rgba(238, 238, 238, 0.747);
        padding: 1px;
        background-color: rgba(128, 128, 128, 0.055);
    }
    .logBtnsCleDk{
        border-radius: .5rem;
        height: 24px;
        margin-top: 1rem;
        border: 1px solid rgba(240, 240, 240, 0.205);
        padding: 1px;
        background-color: rgba(128, 128, 128, 0.055);
        color: #e0e0e0;
    }

    .logSubBtn {
        cursor: pointer;
        position: relative;
        padding: 10px 24px;
        font-size: 18px;
        color: rgb(3, 3, 3);
        border: 2px solid rgba(51, 51, 51, 0.61);
        /* border: 1px solid rgba(0, 0, 0, 0.205); */
        border-radius: 15px;
        background-color: transparent;
        font-weight: 600;
        transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
        overflow: hidden;
      }
      
      .logSubBtn::before {
        content: '';
        position: absolute;
        inset: 0;
        margin: auto;
        width: 50px;
        height: 50px;
        border-radius: inherit;
        scale: 0;
        z-index: -1;
        background-color: #1e90ff;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
      }
      
      .logSubBtn:hover::before {
        scale: 3;
      }
      
      .logSubBtn:hover {
        color: #ffffff;
        scale: 1.1;
        box-shadow: 0 0px 20px rgba(98, 193, 193, 0.4);
        border: 2px solid rgb(98, 171, 193);
      }
      
      .logSubBtn:active {
        scale: 1;
      }


      .logSubBtnDk {
        cursor: pointer;
        position: relative;
        padding: 10px 24px;
        font-size: 18px;
        color: rgb(236, 236, 236);
        border: 2px solid rgba(238, 238, 238, 0.61);
        /* border: 1px solid rgba(0, 0, 0, 0.205); */
        border-radius: 15px;
        background-color: transparent;
        font-weight: 600;
        transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
        overflow: hidden;
      }


      .logSubBtnDk::before {
        content: '';
        position: absolute;
        inset: 0;
        margin: auto;
        width: 50px;
        height: 50px;
        border-radius: inherit;
        scale: 0;
        z-index: -1;
        background-color: #1e90ff;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
      }
      
      .logSubBtnDk:hover::before {
        scale: 3;
      }
      
      .logSubBtnDk:hover {
        color: #ffffff;
        scale: 1.1;
        box-shadow: 0 0px 20px rgba(98, 193, 193, 0.4);
        border: 2px solid rgb(98, 171, 193);
      }
      
      .logSubBtnDk:active {
        scale: 1;
      }
      



    /* Todo HOVERS AND FOCUS */

      .logInp:focus{
        background-color: #1e90ff;
        color: white;
        border: none;
      }
      
      .logInpNum:focus{
        background-color: #1e90ff;
        color: white;
      }

      .logInp:hover{
       border: 1px solid #1e90ff;
      }
      
      .logInpNum:hover{
        border: 1px solid #1e90ff;
      }

      .logBtnsCle:hover{
          color: rgb(98, 171, 193);
          border: 2px solid #1e90ff;
      }
      .logBtnsVis:hover{
        color: rgb(98, 171, 193);
        border: 2px solid #1e90ff;
    }


    
    .logInpDk:hover{
      border: 1px solid #1e90ff;
     }
     
     .logInpNumDk:hover{
       border: 1px solid #1e90ff;
     }

      .logBtnsCleDk:hover{
          color: rgb(98, 171, 193);
          border: 2px solid #1e90ff;
      }
      .logBtnsVisDk:hover{
        color: rgb(98, 171, 193);
        border: 2px solid #1e90ff;
    }













/* !Hotels Settings */

.hotelsListContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1223px;
    margin: 0 auto;
    padding: 2rem;

}


/* TODO  INPUT                         */


.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
  margin: 2rem 0;
}

.input {
  border-style: none;
  height: 50px;
  width: 50px;
  padding: 10px;
  outline: none;
  border-radius: 50%;
  transition: .5s ease-in-out;
  background-color: #1e90ff;
  box-shadow: 0px 0px 3px #f3f3f3;
  padding-right: 40px;
  color: #030303;
  font-weight: bold;
}

.input::placeholder,
.input {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;
}

.input::placeholder {
  color: #8f8f8f;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  outline: none;
  border-style: none;
  border-radius: 50%;
  pointer-events: painted;
  background-color: transparent;
  transition: .2s linear;
}

.icon:focus ~ .input,
.input:focus {
  box-shadow: none;
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 3px solid #1e90ff;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}







/* todo */


.listVisible{
   padding: 1rem;
   width: 100%;
 
   display: flex;
   justify-content: center;
   align-items:left;
   flex-wrap: wrap;
  
   gap: 2.5rem;
   list-style: none;
}

.hotelCard{
  height: 300px;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  padding: .1rem .5rem;
  position: relative;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.39); 
}
.hotelCardDk{
  height: 300px;
  width: 200px;
  border: 1px solid rgba(184, 184, 184, 0.103);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  padding: .1rem .5rem;
  position: relative;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.39); 
}


.hotelCard:hover{
 transition: all .3s;
 box-shadow: 0px 0px 15px rgba(115, 199, 255, 0.37);
}
.hotelCardDk:hover{
 transition: all .3s;
 box-shadow: 0px 0px 10px rgba(115, 199, 255, 0.37);
}

.stars{
  position: absolute;
  top: 2px;
  right: 10px;
}

#str{
  font-size: 12px;
  color: gold;
}



.hotelxts{
  /* background-color: #1e90ff; */
  display: flex;
  justify-content: right;
  gap: .5rem;
  position: relative;
  top: 40px;
}

.fa-solid{
  font-size: 20px;
}
.fa-solid:hover{
  transition: all .3s;
  transform: scale(1.1);
  color: #1e90ff;
}


.alojamiento{
  font-size: 15px;
  position: relative;
  top: -10px;
}


.hotelsName{
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    width: 100%;
    height: 50px;
}


.telCp{
  position:absolute;
  bottom: 90px;
  display: flex;
  flex-direction: column;
  gap: -10px;
}

.cp{
  margin-top: -7px;
}




/* todo Travel Btn */

.btnMsge{
  margin: 0 auto 8px;
}

.detalsBtn {
  outline: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 140px;
  height: 40px;
  border-radius: 0.5em;
  box-shadow: 0 0.625em 1em 0 rgba(30, 143, 255, 0.35);
  overflow: hidden;
  position: relative;
  top: 1.5rem;
  right: -2rem;
 }
 
 .detalsBtn div {
  transform: translateY(0px);
  width: 100%;
 }
 
 .detalsBtn,
 .detalsBtn div {
  transition: 0.6s cubic-bezier(.16,1,.3,1);
 }
 
 .detalsBtn div span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0.75em 1.125em;
 }
 
 .detalsBtn div:nth-child(1) {
  background-color: #1e90ff;
 }
 
 .detalsBtn div:nth-child(2) {
  background-color: #21dc62;
 }
 
 .detalsBtn:hover {
  box-shadow: 0 0.625em 1em 0 rgba(33, 220, 98, 0.35);
 }
 
 .detalsBtn:hover div {
  transform: translateY(-50px);
 }
 
 .detalsBtn p {
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
 }
 
 .detalsBtn:active {
  transform: scale(0.95);
 }


/*! Modal Settings */

.modalContainer{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative; 
    max-width: 1223px;
    border-radius: 1rem;
    border: 1px solid rgba(77, 77, 77, 0.349);
    box-shadow: 0px 0px 15px #1e8fff54;
}
.modalContainerDk{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative; 
    max-width: 1223px;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.349);
    box-shadow: 0px 0px 15px #1e8fff54;
    
}

.modalX{
  border: none;
  background-color: transparent;
}

#closeModal{
  position: absolute;
  right: 15px;
  top: 15px;
  color: #1e90ff;
}

#closeModal:hover{
  transition: all .2s;
  color: red;
  transform: scale(1.1);

}


.hotelSelection{
  display: flex;
  gap: 3rem;
}

#arrows{
  color: #1e90ff;
  font-size: 30px;
}
#arrowBtn{
  border: none;
  background-color: transparent;
}

#arrowBtn:hover{
  transition: all 3.s;
  transform: scale(1.1);
}

.hotelName{
  font-weight: bold;
  font-size: 30px;
}


.generalInfo{
    background-color: rgba(216, 255, 255, 0.199);
    box-shadow:  6px 3px rgba(0, 0, 0, 0.062);
    border-radius: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.generalInfoDk{
    background-color: rgba(205, 247, 247, 0.199);
    box-shadow:  6px 3px rgba(182, 182, 182, 0.062);
    border-radius: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.detailedInfoDk{
  background-color: rgba(216, 255, 255, 0.199);
  box-shadow:  6px 3px rgba(182, 182, 182, 0.062);
  border-radius: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
}

.detailedInfo{
  background-color: rgba(216, 255, 255, 0.199);
  box-shadow:  6px 3px rgba(0, 0, 0, 0.062);
  border-radius: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
}

.amenidades{
  font-weight: bold;
  font-size: 30px;
 
}

.detailedTitle{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 15px;
}

.amenidadesContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}







/* !Carousel Settings */



.carouselContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(216, 255, 255, 0.199);
    box-shadow:  6px 3px rgba(0, 0, 0, 0.062);
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
.carouselContainerDk{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(216, 255, 255, 0.199);
    box-shadow:  6px 3px rgba(182, 182, 182, 0.171); 
    border-radius: 1rem; 
    margin-bottom: 1rem;
  }
  
  .carousel{
    max-width: 90%;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.listItem{
    list-style: none;
}

.imagenesHotel{
  aspect-ratio: 3/3;
  height: 570px;
  object-fit: contain;
  list-style: none;
  
}







@media screen and (min-width: 700px){
  .allInfo{
    display: flex;
  
  }

}



